*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: auto;
    background-color: azure;
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    padding: 1rem 0 1rem 0;
}
